<!DOCTYPE HTML>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <style>
      nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: #eee;
      }
      .right {
        display: flex;
      }
      .nav-item {
        font-size: 1.25rem;
        padding: 1rem 2rem;
        background-color: #e6e6e6;
      }
      main {
        display: flex;
        justify-content: center;
        min-height: 500px;
      }
      footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #eee;
      }
    </style>
    {% block head %}{% endblock %}
    <title>Simple Site</title>
  </head>
  <body>
    <nav>
      <div class="left nav-item"><a href="/">Teensy</a></div>
      <div class="right">
        <!-- cheating and not checking submenus because we don't have nesting -->
        {% for item in nav %}
          {% if item.type == "page" and item.visibility in ["always", "header-only"] %}
            <div class="nav-item">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <!-- cheating and not checking submenus because we don't have nesting -->
      {% for item in nav %}
        {% if item.type == "page" and item.visibility in ["always", "footer-only"] %}
          <div>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </footer>
  </body>
</html>
