{% extends "base.html" %}

{% block head %}
<style>
  .hero {
    margin-top: 4rem;
  }
</style>
{% endblock %}

{% block content %}
<div class="hero">
  <h1>Teensy CMS Example</h1>
</div>
{% endblock %}
