{% extends "base.html" %}

{% block head %}
<style>
  .simple {
    margin-top: 2rem;
    max-width: 750px;
  }
</style>
{% endblock %}

{% block content %}
<div class="simple">
  {{ page_inner|safe }}
</div>
{% endblock %}
